/* index.css */

:root {
  font-family: 'Roboto', 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  display: block; 
  background-color: #ffffff;
  color: #333333;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}